<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
  <% include ../partials/header %>
  <main>
    <div class="post-info">
      <h3><%= post.title %> 
      </h3>
      <p id="post-author-info">
        by <a href="/user/show/<%=post.user_id%>"><%= post.username %></a> 
        at <%= post.created_at %>
      </p>
      <p><%= post.description %></p>
    </div>
  </main>
  <% include ../partials/footer %>
</body>
</html>